################################################################################
# Build artifacts (CMake + Conan)
################################################################################
/build
/cmake-build-*
CMakeUserPresets.json
/test_package/build
/test_package/CMakeUserPresets.json
/benchmarks/build
/benchmarks/CMakeUserPresets.json

/.vs
/bin
/obj
/test/dumps/*
